# macOS
.DS_Store

# Python cache/build
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Logs
*.log


# Local datasets (usually large, keep out of git)
data/*
visualizations/*
submission_work/*
